body{
    background-image:url(Form\ background.jpg);
   /**background-position: 50px;**/
    height:100vh;
    width: 0px;
    margin: 10px;
  }
menu{
    background-color: darkgrey;
    /**background-position: 50px;**/
    width: 700px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: auto;
    display: block; 
    margin-left: 220px;
    /**margin-right: 200px;**/
   
}
h1{
    font-family: sans-serif;
    font-style: 900px;
    font-weight: 500px; 
    font-size: 50px;
    text-align: center;
    padding: 10px;
    color:rgb(18 , 74, 126); 
}
/**hr{
    color: rgb(206, 60, 60);
    height: auto;
    padding: auto;
    margin-left: 10px;
    margin-right: 10px; 
}**/
legend{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style:italic;
    letter-spacing: 0px;
    font-size: 50px;
    font-weight: 500px;
    margin: 0%;
    padding: 0px;
    text-align: justify;
    color: rgb(18, 74, 126);
}
/**.name{
    color:rgb(18, 74, 126);
    font-family: sans-serif;
    font-style: bold;
    font-weight: 400;
    padding: 10px;
    text-align: justify;
}**/
div{
    color:rgb(18, 74, 126);
    font-family: sans-serif;
    font-style: bold;
    font-weight: 400;
    padding: 10px;
    text-align: justify;
}  
/**.Email{
    color:rgb(18, 74, 126);
    font-family: sans-serif;
    font-style: bold;
    font-weight: 400;
    padding: 10px;
    text-align: justify;
}
.Phone-No{
    color:rgb(18, 74, 126);
    font-family: sans-serif;
    font-style: bold;
    font-weight: 400;
    padding: 10px;
    text-align: justify;
}
.dob{
   color: rgb(18, 74, 126);
   font-family: sans-serif;
   font-style: bold;
   font-weight: 400;
   padding: 10px;
   text-align: justify;
}
/**.vmi{
    color: rgb(18, 74, 126);
    font-family: sans-serif;
    font-style: bold;
    font-weight: 400;
    padding: 20px;
    text-align: justify;
 } **/ 
/**.gender{
    color: rgb(18, 74, 126);
    font-family: sans-serif;
    font-style: bold;
    font-weight: 400;
    padding: 10px;
    text-align: justify;
}**/
select{
    font-family:'Times New Roman',sans-serif,Times;
    color: rgb(18, 74, 126);
    font-family: sans-serif;
    font-style: italic;
    font-weight: 200;
    padding: 5px;
    margin: 10px;
    text-align: justify;
} 
/**input{
   text-align: center;
}**/

label{
    font-family:'Times New Roman',sans-serif,Times;
    color: rgb(18, 74, 126);
    font-family: sans-serif;
    font-style: bold;
    font-weight: 200;
    margin: 5px;
    text-align: justify;
}
#Submit{
    color:rgb(18, 74, 126);
    font-family: sans-serif;
    font-style: bold;
    font-weight: 100;
    padding: 10px;
    /**text-align: center;**/
    letter-spacing: 1px;
}    
